header{
width : 400px;
border: 2px solid;
background-color : green;
margin : 0 auto;
padding: 10px;
margin-bottom: 20px;
}
.main{
width : 400px;
border : 2px solid;
padding : 10px;
margin-top : 20px;
margin: 0 auto;
}
h3{
text-decoration: underline;
margin-left : 5px;
margin-bottom: 0px;
padding-bottom: 0px;
}
.inner{
padding-top:0px;
margin-top:0px;
margin-left: 20px;
border : none;
}
.block1 {
display:inline-block;
width:48%;
}

button {
position: relative;
left: 300px;
margin-top:20px;
background-color: blue;
color: white;
font-size: 16px;
}