<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a student to all bootcamp courses</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'main_app/css/style.css'%}">
</head>
<body>
    <div>
        <h3>Add a new course</h3>
        <form action="/create" method="POST">
            {% csrf_token %}
            <div class="line">
                <p class="title">Name:</p> <input type="text" name="name">
            </div>
            <div class="line">
                <p class="title">Description:</p> <textarea name="desc" cols="30" rows="10"></textarea>
            </div>

        <input class="add-button" type="submit" value="Add">
        </form>

    </div>
    <div>
        <h3>Courses</h3>
        <br>
        <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.desc}}</td>
                <td>{{course.created_at}}</td>
                <td><a href="/courses/destroy/{{course.id}}">Remove</a></td>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>