<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form action="/result" method="post">
        Your Name:
        <input type="text" name="name">
        <br>
        Dojo Location:
        <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Seatle">Seatle</option>
            <option value="Colorado">Colorado</option>
        </select>
        <br>
        Favorite Language:
        <select name="language">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="JavaScript">JavaScript</option>
        </select>
        <br>
        <textarea name="comment" >Enter text here.....</textarea>
        <input type="submit" value="Button">
    </form>
</body>
</html>