<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'amadon/css/style.css' %}">
</head>
<body>
    <h1>Amadon Store!</h1>
    <a href="{% url 'clear' %}"><button>Clear Shopping Cart</button></a>
    <br>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            {%for item in items %}
                <tr>
                    <td class="name">{{item.name}}</td>
                    <td class="price">${{item.price}}</td>
                    <td> <form action="{% url 'process' item_id=item.id %}" method="POST">
                            {%csrf_token%}
                            <select name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <input type="submit" value="Buy!">
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </table>
</body>
</html>